$basicButton-buttonSize: big;
$basicButton-backgroundColor: rgb(255,255,255);
$basicButton-borderColor: rgb(0,153,255);
$basicButton-borderSize: 1px;
$basicButton-borderType: solid;
$basicButton-borderRadius: 4px;
$basicButton-textColor: rgb(0,153,255);
$basicButton-textSize: 14px;
$basicButton-innerShadowColor: none;
$basicButtonHover-backgroundColor: rgb(247,247,247);
$basicButtonHover-borderColor: rgb(0,153,255);
$basicButtonHover-borderSize: 1px;
$basicButtonHover-borderType: solid;
$basicButtonHover-borderRadius: 4px;
$basicButtonHover-textColor: rgb(0,153,255);
$basicButtonHover-textSize: 14px;
$basicButtonHover-innerShadowColor: none;
$basicButtonActive-backgroundColor: rgb(0,153,255);
$basicButtonActive-borderColor: rgb(0,153,255);
$basicButtonActive-borderSize: 1px;
$basicButtonActive-borderType: solid;
$basicButtonActive-borderRadius: 4px;
$basicButtonActive-textColor: rgb(255,255,255);
$basicButtonActive-textSize: 14px;
$basicButtonActive-innerShadowColor: #3769d9;
$seriesButtons-buttonSize: big;
$seriesButtons-backgroundColor: rgb(255,255,255);
$seriesButtons-borderColor: rgb(0,153,255);
$seriesButtons-borderSize: 1px;
$seriesButtons-borderType: solid;
$seriesButtons-borderRadius: 4px;
$seriesButtons-textColor: rgb(0,153,255);
$seriesButtons-textSize: 14px;
$seriesButtons-innerShadowColor: none;
$seriesButtonsHover-backgroundColor: rgb(247,247,247);
$seriesButtonsHover-borderColor: rgb(0,153,255);
$seriesButtonsHover-borderSize: 1px;
$seriesButtonsHover-borderType: solid;
$seriesButtonsHover-borderRadius: 4px;
$seriesButtonsHover-textColor: rgb(0,153,255);
$seriesButtonsHover-textSize: 14px;
$seriesButtonsHover-innerShadowColor: none;
$seriesButtonsActive-backgroundColor: rgb(0,153,255);
$seriesButtonsActive-borderColor: rgb(0,153,255);
$seriesButtonsActive-borderSize: 1px;
$seriesButtonsActive-borderType: solid;
$seriesButtonsActive-borderRadius: 4px;
$seriesButtonsActive-textColor: rgb(255,255,255);
$seriesButtonsActive-textSize: 14px;
$seriesButtonsActive-innerShadowColor: #3769d9;
$radioButton-backgroundColor: rgb(255,255,255);
$radioButton-activeColor: rgb(255,255,255);
$radioButton-borderColor: rgb(0,153,255);
$radioButton-borderSize: 1px;
$radioButton-borderType: solid;
$radioButton-textColor: rgb(0,153,255);
$radioButton-textSize: 14px;
$radioButtonHover-backgroundColor: rgb(247,247,247);
$radioButtonHover-activeColor: rgb(247,247,247);
$radioButtonHover-borderColor: rgb(0,153,255);
$radioButtonHover-borderSize: 1px;
$radioButtonHover-borderType: solid;
$radioButtonHover-textColor: rgb(0,153,255);
$radioButtonHover-textSize: 14px;
$radioButtonActive-backgroundColor: rgb(255,255,255);
$radioButtonActive-activeColor: rgb(0,153,255);
$radioButtonActive-borderColor: rgb(0,153,255);
$radioButtonActive-borderSize: 1px;
$radioButtonActive-borderType: solid;
$radioButtonActive-textColor: rgb(0,153,255);
$radioButtonActive-textSize: 14px;
$checkButton-backgroundColor: rgb(255,255,255);
$checkButton-activeColor: rgb(255,255,255);
$checkButton-borderColor: rgb(0,153,255);
$checkButton-borderSize: 1px;
$checkButton-borderType: solid;
$checkButton-textColor: rgb(0,153,255);
$checkButton-textSize: 14px;
$checkButtonHover-backgroundColor: rgb(247,247,247);
$checkButtonHover-activeColor: rgb(255,255,255);
$checkButtonHover-borderColor: rgb(0,153,255);
$checkButtonHover-borderSize: 1px;
$checkButtonHover-borderType: solid;
$checkButtonHover-textColor: rgb(0,153,255);
$checkButtonHover-textSize: 14px;
$checkButtonActive-backgroundColor: rgb(0,153,255);
$checkButtonActive-activeColor: rgb(255,255,255);
$checkButtonActive-borderColor: rgb(0,153,255);
$checkButtonActive-borderSize: 1px;
$checkButtonActive-borderType: solid;
$checkButtonActive-textColor: rgb(0,153,255);
$checkButtonActive-textSize: 14px;